@model CadeteriaBugMan.Models.Cadete;
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>

@* <article class="Cadete--container_register">
    <form asp-controller="Cadete" asp-action="GuardarCadete" class="container__form">

        <div class="group-label">    
            <label for="name">Nombre:</label>
            <input type="text" asp-for="Name" id="name" placeholder="Nombre" required>
        </div>
        <div class="group-label">    
            <label for="address">Dirección:</label>
            <input type="text" asp-for="Address" id="address" placeholder="Dirección" required>
        </div>
        <div class="group-label">    
            <label for="phone">Tel:</label>
            <input type="tel" asp-for="Phone" id="phone" placeholder="(+54) Numero" required>
        </div>
        <input type="submit" value="Guardar">
    </form>
</article> *@