:root {
    --input-hover-color: #eeeeee75;
    --main-color: #6c63ff;
    --input-placeholder-color: #000000be;
    --btn-color-hover: #6b63fff1;
    --color-white: #fff;
    --color-black: #000000c0;
    --box-shadow: 1px 1px 6px #0000001c;
    --btn-color-red: rgb(200, 77, 200);
  }
  
  .container-alta {
    display: flex;
  }
  .adicional-btn {
  }
  .form {
      width: 40%;
      padding: 3rem;
  }
  
  .input-group {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .input {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.1rem;
  }
  
  .input input {
      margin: 0.6rem 0;
      padding: 0.8rem 1.2rem;
      border: none;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      font-size: 0.8rem;
  }
  
  .input label{
      font-size: 0.75rem;
      font-weight: 600;
      color: var(--color-black);
  }
  
  .input input:hover {
      background-color: var(--input-hover-color);
  }
  .input input:focus-visible{
      outline: 1px solid var(--main-color);
  }
  .input input::placeholder {
      color: var(--input-placeholder-color);
  }
  
  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: fit-content;
    padding: 0 22px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--main-color);
    cursor: pointer;
  }
  
  .btn:hover {
      background-color: var(--btn-color-hover);
  }

  .btn-color-red {
    background-color: var(--btn-color-red);
  }
  
  /* Arrow btn */
  .list {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
  }
  .toggle-list {
    flex: auto;
    width: 30%;
    margin-top: 12px;
  }
  .panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* margin: 0.3rem 0; */
      padding: 0 1.2rem;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      cursor: pointer;
  }

  .panel:hover {
      background-color: var(--input-hover-color);
      border: 1px solid var(--main-color);
  }
  /* Contenido del panel */
  .name-cad {
      font-size: 1.1rem;
      font-weight: 600;
      color: var(--color-black);
  }
  .arrow-btn {
      font-size: 25px;
      color: var(--main-color);
  }
  .arrow-btn:hover {
      color: var(--btn-color-hover);
  }
  /* Panel de info */
  .panel-info {
      margin: 0.3rem 0;
      padding: 0.3rem 1.2rem;
      border-radius: 10px;
      max-height: 0px;
      overflow: hidden;
      transition: max-height 0.2s;
    }
    
    .open-panel--info {
      box-shadow: var(--box-shadow);
      max-height: 400px;
  }
  
  .panel-info p {
      margin: 12px 0;
  }

  /* ========================= */
/* Modal */

.modal-window {
    position: fixed;
    background-color: rgba(255, 225, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color: #fff;
}

.modal-window h3 {
    font-size: 150%;
    margin: 0 0 15px;
}

/* .container-modal {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;

} */