:root {
  --btn-blue: #007AFF;
  --border-grey: #BDBDBD;
  --light-grey: #F2F2F2;
  --font-size-14: calc(14rem / 16);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}